<nav class="links fadeIn animated">
    <ul>
        <li class="github"><a title="biastoact" href="http://twitter.com/biastoact"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
    </ul>
</nav>
